* {
    margin: 0;
    padding: 0;
}

.about {

    width: 100vw;
    height: 120vh;
    margin: 35vh 0;
    background-color:#0d0025;
    padding: 2vh;
}

.aboutPage {

    /* margin: 60vh 0; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.about h3{
    color: #39cb8e;
    display: flex;
    justify-content: center;
    margin-bottom: 0vh;
    margin-top: 4vh;
}
 


.aboutComp1 {
    /* background-color: red; */
    margin: 10vh 3vh 5vh 7vh;
}

.aboutComp1 .content1 {
    background-color: #e848c5;
    height: 20vh;
    width: 20vw;
    border-radius: 2vh;
    margin-bottom: 4vh;
    padding: 4vh;
    
}

.aboutComp2 {
    /* background-color: blue; */
    margin: 17vh 4vh 5vh 2vh;
    padding: 2vh;
}

.aboutComp3 {
    /* background-color: magenta; */
    margin: 17vh 4vh 5vh 0vh;
    padding: 5vh;
}