::-webkit-scrollbar{
  display: none;
}
* {
  margin: 0 !important;
  box-sizing: border-box;
}

#home{
  height: 100vh;
  background-color: #0077b6;
}


@media(max-width:1020px){
  #loginimg1{
    width:100%
  }
}


@media(max-width:761px){
  .form-control{
    background-color: black;
  }
  #Loginimg{
    display: none;
    padding: 0;
  }
}